html {
    background-color: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}
li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 li a.active {
     background-color: #404040;
     color: white;
 }
 li a:hover:not(.active) {
     background-color: #4d4d4d;
     color: white;
 }

 label {
     margin: 5px;
     border: 1px solid black;
     vertical-align: middle;
     horiz-align: center;
 }

body{
     overflow-x: hidden;
 }

footer {
    width: 100%;
    height: 5%;
    background-color: black;
    left:0;
    bottom: 0;
    text-align: center;
    margin-bottom: 0px;
    position: fixed;
    color: white;
}
table {
    align-content: left;
    text-align: left;
    place-self: center;
}
table tr {
    border: grey;
    border-style: solid;
}
table th {
    border: grey;
    border-style: solid;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;


}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    list-style: none;
    padding: 0px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background-color: white;
    float: left;
    width: 100%;
    margin-left: 25%;

}
.sequence {
    font-size: 14px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    border: 1px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
    display: table-cell;
    width: 20%;
    word-wrap: break-word;
}
p.bordering {
    border: 1px solid black;
    width: 41%;
    padding: 5px;
    margin: 5px;

}
p.padding {
    margin-left: 10%;
}