<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    {% if title %}
    <title>{{ title }} - Flask applicate Course 4 groep 5</title>
    {%  else %}
    <title>Add an title to the title variable</title>
    {% endif %}

</head>
<body>
    <div class="menu_bar"><a href="/">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
</body>



<footer>
    <p>Bio informatica jaarlaag 1, 2020 </p>



</footer>



<


</html>

