<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="static\style.css">
        <TITLE>Home</TITLE>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="info.html">Info</a></li>
                <li> <a href="over_ons.html">Over ons</a></li>
                <li> <a href="populatie.html">Microbio population</a></li>
                <li> <a class="active" href="blast.html">Blast</a></li>
            </ul>

</head>
<body>

</body>
</html>