<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\style.css">
        <TITLE>Home</TITLE>
            <ul>
                <li><a class="active" href="home.html">Home</a></li>
                <li><a href="info.html">Info</a></li></li>
                <li> <a href="over_ons.html">Over ons</a></li>
            </ul>
    </head>
<!-- geef meer informatie weer op de site over wat je kan vinden --!>
    <body>
        <h2>zoekterm:</h2>
        <form action="{{ url_for('database') }}" method="post">
            <input type = "text" name= "zoek" />
            <input type = "submit" value="Zoek in database" >
              <p>filter op:</p>

            <input type="radio" id="organisme1" name="selection" value="naam_organismenaam">
          <label for="naam_organismenaam@">dingetje</label>

          <input type="radio" id="organisme1" name="selection" value="naam_organismenaam">
          <label for="naam_organismenaam">Organisme</label><br>


            <input type="radio" id="organisme1" name="selection" value="naam_organismenaam">
          <label for="naam_organismenaam@">dingetje</label>

          <input type="radio" id="eiwit" name="selection" value="eiwit">
          <label for="eiwit">Accessiecode</label><br>

            <input type="radio" id="organisme1" name="selection" value="naam_organismenaam">
          <label for="naam_organismenaam@">dingetje</label>

          <input type="radio" id="eiwit" name="selection" value="eiwit">
          <label for="description">Beschrijving</label><br>

            <input type="radio" id="organisme1" name="selection" value="naam_organismenaam">
          <label for="naam_organismenaam@">dingetje</label>

            <input type="radio" id="lineage" name="selection" value="lineage">
          <label for="lineage">Lineage</label><br>



        </form>

        <br><hr>

        {% for i in resultaten %}
            <button type="button" class="collapsible">{{ resultaten[i]['name'] }}</button>
            <div class="content">


                <p><b>Name: </b>{{ resultaten[i]['name'] }}</p><br>
                <p><b>accessiecode: </b>{{ resultaten[i]['accessiecode'] }}</p><br>
                <p><b>IDPercentage: </b>{{ resultaten[i]['IDpercentage'] }}%</p><br>
                <p><b>Evalue: </b>{{ resultaten[i]['Evalue'] }}</p><br>
                <p><b>max_score: </b>{{ resultaten[i]['max_score'] }}</p><br>
                <p><b>totale_score: </b>{{ resultaten[i]['totale_score'] }}</p><br>
                <p><b>query_cover: </b>{{ resultaten[i]['query_cover'] }}</p><br>
                <p><b>naam_organismenaam: </b>{{ resultaten[i]['naam_organismenaam'] }}</p><br>
                <p><b>linnaam: </b>{{ resultaten[i]['linnaam'] }}</p><br>
                <p><b>header: </b>{{ resultaten[i]['header'] }}</p><br>
                <div class="sequence">
                <p><b>sequence: </b>{{ resultaten[i]['sequence'] }}</p><br>
                </div>
                <p><b>asci_score: </b>{{ resultaten[i]['asci_score'] }}</p><br>


            </div>
        {% endfor %}
    </body>

        <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }
        </script>



<footer>
    Bio informatica jaar 1, groep 5
</footer>
</html>