<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\style.css">
        <TITLE>Home</TITLE>
            <ul>
                <li><a class="active" href="home.html">Home</a></li>
                <li><a href="info.html">Info</a></li></li>
                <li> <a href="over_ons.html">Over ons</a></li>
            </ul>
    </head>

    <body>
        <h2>Vul hieronder in wat je wilt opzoeken:</h2>
        <form action="{{ url_for('database') }}" method="post">
            <input type = "text" name= "zoek" />
            <input type = "submit" value="Zoek in database" >
        </form>
        <br><hr>
        <p>{{ resultatentextrange }}</p>
        {{ resultatentext }}<br>
        {% for i in range(20) %}
            {{ resultaten[i] }}<br>
        {% endfor %}
    </body>


<footer>
    Bio informatica jaar 1, groep 5
</footer>
</html>