<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\style.css">
        <TITLE>Info</TITLE>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a class="active" href="info.html">Info</a></li></li>
                <li> <a href="over_ons.html">Over ons</a></li>
                <li> <a href="populatie.html">Microbio population</a></li>
                <li> <a href="blast.html">Blast</a></li>
            </ul>
    </head>

    <body>
        <br><hr><br>
    <p>Deze applicatie is gemaakt na aanleiding van een onderzoek. Dit
        onderzoek ging over de organismen en eiwitten die voorkomen in
        compost na de tweede fase van het composteringsproces. Het doel
        van dit onderzoek is om de organismen en eiwitten die in deze
        compost voorkomen te identificeren en te karakteriseren. Dit is gedaan
        door DNA fragmenten uit de compost door Blast te halen (lees over blast
        onder kopje Blast). De gevonden eiwitten en organisme zijn in een
        database gezet.</p>
    <br>
        <h3><a class="infolink" href="home.html" target="_top">Home</a></h3>
        <p>Hier valt te zoeken door de database. Deze database bevat informatie
            over de mogelijke eiwitten en organisme die voorkomen in de compost
            zoeken kan hier ook op Organisme, Accessiecode, Eiwit naam en
            Lineage (Te vinden onder Zoek op:). De resultaten kunnen
            weergegeven worden gefilterd op Percentage identity, Query
            coverage en E value (Te vinden onder Filter op:). Dit kan van hoog
            naar laag of van laag naar hoog (Te vinden onder Van:)</p>
        <h3><a class="infolink" href="over_ons.html" target="_top">Over ons</a></h3>
        <p>Hier staat informatie over de mensen die aan dit project hebben
            gewerkt</p>
        <h3><a class="infolink" href="populatie.html" target="_top">Micronio Population</a></h3>
        <p>Hier valt een tabel te vinden met de meest voorkomende organisme
            in de compost. De naam en het aantal keer dat dit organisme is
            aangetroffen zijn weergegeen. Als er op word geklikt word een
            wikipedia pagina met informatie over dit organisme weergegeven.</p>
        <h3><a class="infolink"href="blast.html" target="_top">Blast</a></h3>
        <p>Hier valt een Blast uit te voeren. Basic Local Alignment Search Tool
            (BLAST) is een algoritme dat gebruikt wordt voor het vergelijken
            (aligneren) van een DNA- of eiwit-sequentie in verscheidene
            databases. Het zoekresultaat laat zien welke gerelateerde
            sequenties voorkomen in hetzelfde organisme of gerelateerde
            organismen. Dit geeft in de meeste gevallen een beeld van een
            functie van een gen waarvan de functie nog onbekend is. Op deze
            site word Blastx gebruikt, deze blast methode maakt van een DNA
            sequentie een eiwit sequentie (in drie reading frames) en
            vergelijkt deze met een eiwit sequentie uit de Non-reductant
            protien sequences(nr) database.</p>
        <br>


    </body>

    <footer>
        Bio informatica jaar 1, groep 5
    </footer>

</html>