<!DOCTYPE html>
<html lang="en">
<head>
        <head>
        <link rel="stylesheet" type="text/css" href="static\style.css">
        <TITLE>Home</TITLE>
            <ul>
                <li><a class="active" href="home.html">Home</a></li>
                <li><a href="info.html">Info</a></li></li>
                <li> <a href="over_ons.html">Over ons</a></li>
                <li> <a href="populatie.html">Microbio population</a></li>
            </ul>
    </head>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <br><hr>
        <table>
        <tr>
            <th>Name</th>
            <th>Count</th>
        </tr>
        {% for key in tabledata %}
        <tr>
            <th><a href="https://www.wikipedia.org/wiki/{{ key }} " target="_top" >{{ key }}</a></th>
            <th>{{ tabledata[key] }}</th>
        </tr>
        {% endfor %}
        </table>
</body>
</html>